In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [5]:
r = requests.get(url)

In [7]:
soup = BeautifulSoup(r.text, 'html.parser')

In [9]:
# soup

In [17]:
# 名前を取得
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [32]:
# 受講者数
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

12187

In [33]:
# レビュー数
n_reviews = soup.select('.reviews')[0].string
n_reviews = int(n_reviews.split('：')[1])
n_reviews

2131

In [49]:
results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
}

In [35]:
resluts

{'name': '今西 航平', 'n_subscriber': 12187, 'n_reviews': 2131}

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('assets/data.csv')

In [38]:
df.tail()

         date  subscribers  reviews
751  2021/2/5        10753     1820
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831

In [40]:
import datetime

In [43]:
date = datetime.datetime.today().strftime('%Y%-m/%-d')
date

'20216/22'

In [50]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [51]:
subscribers

12187

In [52]:
reviews

2131

In [54]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

       date  subscribers  reviews
0  20216/22        12187     2131

In [56]:
df = pd.concat([df, results])
df.tail()

         date  subscribers  reviews
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831
0    20216/22        12187     2131

In [57]:
df.to_csv('assets/data.csv', index=False)

In [ ]:
#関数を作成　udemyから情報を取ってくる関数('get_udemy_info')
#CSVに書き込む関数('write_data')

In [60]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)

    soup = BeautifulSoup(r.text, 'html.parser')

    # 名前を取得
    name = soup.select('.card-title')[0].string

    # 受講者数
    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    # レビュー数
    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name': name,
        'n_subscribers': n_subscribers,
        'n_reviews': n_reviews
    }
    return  results

In [61]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    _results = get_udemy_info()

    # 今日の日付、受講者数、レビュー数を取得
    date = datetime.datetime.today().strftime('%Y%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']

    results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])

    df = pd.concat([df, results])

    df.to_csv('assets/data.csv', index=False)