In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('time_series.csv')

In [4]:
df.head()

         date      AAPL     MSFT
0  2015-01-02  101.9635  42.5999
1  2015-01-05   99.0910  42.2036
2  2015-01-06   99.1003  41.5886
3  2015-01-07  100.4899  42.1170
4  2015-01-08  104.3510  43.3560

In [5]:
df['date']

0       2015-01-02
1       2015-01-05
2       2015-01-06
3       2015-01-07
4       2015-01-08
           ...
1001    2018-12-24
1002    2018-12-26
1003    2018-12-27
1004    2018-12-28
1005    2018-12-31
Name: date, Length: 1006, dtype: object